*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ebcbf7;
    background-image: linear-gradient(135deg, #ebcbf7 0%, #f9eaec 16%, #ffffff 44%, #ffffff 60%);
    
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13dvh ;
    padding-inline: 12em;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li:first-child{
    margin-top: 0.5em;
}

nav ul li:nth-child(2){
    margin-top: 0.5em;
}

#menu_ham, #label_ham{
    display: none;
}

nav li{
    justify-content: space-around;
    margin: 0 2em auto;
}

nav button{
    height: 3.5em;
    width: 13em;
    background-color: #664efc;
    color:white;
    border: none;
    border-radius: 5px;
}

nav li:nth-last-child(2){
     &:hover{
        color: #664efc;
     }
}

nav li:nth-last-child(3){
    &:hover{
       color: #664efc;
    }
}

nav li button:hover{
    color:#664efc;
}
#sc1{
    display: grid;
    grid-template-areas: 'text image';
    grid-template-columns: 50vw 50vw ;
}

.izq_sc1{
    grid-area: text ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12em ;
}

.izq_sc1 h1{
    font-size: 64px;
}

.izq_sc1 p{
    margin: 1em 0 1em 0;
    color: rgb(105, 105, 104);
}

.izq_sc1 span{
    color: #696968;
}

.izq_sc1 button{
    height: 3.5em;
    width: 13em;
    background-color: #664efc;
    color:white;
    border: none;
    border-radius: 5px;
    margin-bottom: 2em;
}

.izq_sc1 span strong{
    color: #664efc;
}

.der_sc1{
    grid-area: image ; 
}

.der_sc1 img{
    width: 75%;
}

#sc2{
    display: grid;
    grid-template-areas: "text2 image2";
    grid-template-columns: 50vw 50vw;
    margin-top: 12em;
    margin-bottom: 5em;
}

.izq_sc2{
    width: 100%;
    margin-left: 12em ;
}

.izq_sc2 h1{
    font-size: 40px;
    width: 80%;
    margin-bottom: 0.5em;
}

.izq_sc2 p{
    width: 55%;
    color:#696968 ;
    margin-bottom: 0.5em;
}

.izq_sc2 a{
    text-decoration: none;
    color: #664efc;
    font-weight: bold;
}

.der_sc2 img{
    width: 48%;
}
.der_sc2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#sc3{
    display: grid;
    grid-template-areas: "image3 text3";
    grid-template-columns: 50vw 50vw;
    margin-bottom: 4em;
}

.izq_sc3{
    grid-area: image3 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.izq_sc3 img{
    width: 40%;
}

.der_sc3{
    grid-area: text3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.der_sc3 h1{
    font-size: 40px;
    width: 60%;
    margin-bottom: 0.5em;
}

.der_sc3 p{
    width: 55%;
    font-size: 16px;
    color:#696968 ;
    margin-bottom: 0.5em;
}

.der_sc3 a{
    text-decoration: none;
    color: #664efc;
    font-weight: bold;
}

footer{
background-color: #fdfcf9;
display: flex;
height: 25vh;
align-items: center;
}

.izq_footer{
    width: 40vw;
    margin-left: 14%;
}

.izq_footer p{
    width:  50%;
}

.der_footer{
    display: flex;
    width: 60vw;
}

.der_footer ul{
    margin-right: 10% ;
}

.izq_footer p{
    margin: 0.2em 0 2em 0;
    color: #525252;
}

.izq_footer a{
    text-decoration: none;
    color: #525252;
}

img:last-of-type{
    transition: 500ms;
 &:hover{
    transform: scale(0.9);
 }
}

@media only screen and (max-width: 1024px) {
    nav{
       padding-inline: 4em
    }

    #sc1{
        grid-template-areas: "image"
        "text";
        grid-template-columns: 100dvw;
        grid-template-rows: 33vh 20fr ;
    }

    .izq_sc1{
        
    }

    .izq_sc1 h1{
        font-size: 36px;
    }

    .der_sc1{
        display: flex;
        justify-content: center;

    }

    .der_sc1 img{
        width: 320px;
    }

    footer{
        display: grid;
        height: 35vh;
        grid-template-areas: "texto area1 area3"
                             "texto area2 area4";
        grid-template-columns: 33vw 33vw 33vw;
        grid-template-rows: 24vh 10vh;
    }  

    .der_footer{
        display: grid;
        grid-template-areas: "area1 area3"
                                "area2 area4";
    }

    .izq_footer{
        grid-area: texto;
    }

    footer .der_footer li:nth-of-type(1){
        grid-area: area1;
    }
    footer .der_footer li:nth-of-type(2){
        grid-area: area2;
    }
    footer .der_footer li:nth-of-type(3){
        grid-area: area3;
    }
    footer .der_footer li:nth-of-type(4){
        grid-area: area4;
    }

  }

  @media only screen and (max-width: 600px) {

    nav ul{
        display: none;
    }

    #label_ham{
        display:block;
    }

    #menu_ham:checked ~ .prueba{
        display: block;
        position: absolute;
        top: 5em;
        text-align: right;
        left: 60%;
        background-color: white;
        border: solid 1px black;
        border-radius: 5px;
        width: 9em;
    }

    .prueba li button{
        width: 6em;
        background-color: white;
        color:black;
    }

    .izq_sc1{
        margin-left: 0em;
        text-align: center;
    }

    .izq_sc1 button{
        justify-content: center;
        align-self: center;
    }

    .izq_sc1 p{
        font-size: 15px;
    }

    #sc2{
        display: grid;
        grid-template-areas: "image2"
                            "text2";
        grid-template-columns: 100vh;
        grid-template-rows: 40vw 60vw ;
    }

    .izq_sc2{
        grid-area: text2 ;
        margin-left: 2em;
        width: 70%;
    }

    .der_sc2 img{
        width: 30%;
    }

    .der_sc2{
        margin-left: -28em;
    }

    #sc3{
        grid-template-areas: "image3"
                            "text3";
        grid-template-columns: 100vh;
        grid-template-rows: 85vw 60vw ;
    }

    .izq_sc3 img{
        width: 30%;
    }

    .izq_sc3{
        margin-left: -27em;
    }

    .der_sc3{
        text-align: center;
    }

    .der_sc3 h1{
        font-size: 24px;
        width: 50%;
    }

    .der_sc3 a{
        text-align: left;
        margin-left: 2em;
    }

    footer{
        height: 100vh;
        grid-template-areas:
        "Text5"
        "List";
        grid-template-columns: 50em 50em;
        grid-template-rows: 8fr 12fr;
        font-size: 15px;
    }
    }

    .izq_footer{
        grid-area: Text5;
    }

    .der_footer{
        grid-area: List;
        margin-left: 13%;
        grid-template-areas: 
        "area1"
        "area2"
        "area3"
        "area4";
    }

    footer .der_footer li:nth-of-type(1){
        grid-area: area1;
    }
    footer .der_footer li:nth-of-type(2){
        grid-area: area2;
    }
    footer .der_footer li:nth-of-type(3){
        grid-area: area3;
    }
    footer .der_footer li:nth-of-type(4){
        grid-area: area4;
    }

  }
